:root {
    border: 5px outset rgb(214, 230, 242);
    border-radius: 2%;
}

body {
    background-color: rgb(118, 159, 205);
}

h1 {
    text-align: center;
    color: rgb(247, 251, 252);
    margin-top: 25px;
    font-size: 40px;
}

.subscription {
    border: 5px outset rgb(214, 230, 242);
    background-color: rgb(185, 215, 234);
    height: 200px;
    width: 550px;
    display: block;
    
}

.resources {
    border: 5px outset rgb(214, 230, 242);
    background-color: rgb(185, 215, 234);
    display: block;
    height: 200px;
    width: 225px;
}

p {
    color: black;
    font-weight: 5;
    margin-left: 10px;
    margin-right: 10px;
}

h3 {
    padding-left: 15px;
}

.about {
    border: 5px outset rgb(214, 230, 242);
    background-color: rgb(185, 215, 234);
    display: inline-block;
    height: 225px;
    width: 775px;
}

.infoblock {
    display: flex;
}

h4 {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    margin-bottom: 10px;
}

.side-table-row {
    height: 500px;
    width: 300px;
    overflow: hidden;
    border: solid 5px rgb(118, 159, 205);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}